<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="ChunkSize" value="1000" />
        <add key="DegreeOfParallelism" value="3" />
        <add key="WithinTheObservationPeriod" value="True" />   
        <add key="Vendor" value="Cprd" />
        <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.cprd.CprdPersonBuilder, org.ohdsi.cdm.framework.etl.cprd, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />	  
        <add key="CDM" value="v5.4.1" /> 
	    <add key="Tablespace" value="pg_default" />
    </appSettings>
    <connectionStrings>
        <!--PostgreSQL-->
        <!-- "Driver={PostgreSQL UNICODE};Server={server};Port=5432;Database={database};Uid={username};Pwd={password};sslmode=require;UseDeclareFetch=1;commlog=1;" -->
        <add name="SourceConnectionStringTemplate" connectionString="Driver={PostgreSQL UNICODE};Server={server};Port=5432;Database={database};Uid={username};Pwd={password};sslmode=disable;UseDeclareFetch=1;commlog=1;" />
        <add name="DestinationConnectionStringTemplate" connectionString="Driver={PostgreSQL UNICODE};Server={server};Port=5432;Database={database};Uid={username};Pwd={password};sslmode=disable;UseDeclareFetch=1;commlog=1;" />
        <add name="VocabularyConnectionStringTemplate" connectionString="Driver={PostgreSQL UNICODE};Server={server};Port=5432;Database={database};Uid={username};Pwd={password};sslmode=disable;UseDeclareFetch=1;commlog=1;" />
    </connectionStrings>
</configuration>
